@use '../base/variables' as v;

.card {
    display: block;
    text-decoration: none;

    &__container {
        padding: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        column-gap: 15px;
        row-gap: 40px;
    }

    &__img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 15px;
        
    }

    &:hover &__title {
        color: v.$Grey;
    }

    &__title {
        padding: 5px 0;
        text-align: center;
        color: v.$Black;
        font-size: 1rem;
    }

}