@use '../base/variables' as v;

.footer {
    position: relative;
    background-color: v.$Orange;
    color: v.$White;
    padding-top: 60px;

    &::after {
        content: "";
        z-index: -5;
        position: absolute;
        height: 100%;
        width: 300%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: v.$Orange;
    }


    &__icon {
        font-size: 35px;
        cursor: pointer;
        transition: color 150ms ease-in-out;

        &:hover {
            color: v.$Green;
        }

        &__container{
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-bottom: 35px;
        }
    }

    &__link {
        text-decoration: none;
        color: v.$White;
    }

    &__title {
        padding-bottom: 15px;
        text-align: center;
        font-weight: 300;

        a {
           color: v.$White; 
        }
    }

    
}