@use '../base/variables' as v;

.panel {
    width: 95%;
    background-color: white;
    border-radius: 3px;
    margin: 0 auto;
    box-shadow: 0px 5px 15px -5px rgba(0,0,0, 0.3);

    &__content {
        min-height: 100px;
    }

    &__options {
        display: flex;
        flex-direction: column;
        align-items: center;
        

        @media (min-width: 440px) { 
            padding: 5px 10px 0;
            flex-direction: row-reverse;
            justify-content: space-between;
            border-bottom: 3px solid v.$Grey;
        }
    }

    &__option {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px;
        cursor: pointer;

        @media (min-width: 440px) {
            padding: 10px 5px 10px 0;
        }
    }

    &__section-name {
        font-size: 15px;

        @media (min-width: 440px) {
            font-size: 17px;
        }
    }

    &__icon {
        width: 25px;
    }

    &__options__group {
        width: 95%;
        display: flex;
        justify-content: space-around;
        border-top: 3px solid v.$Grey;
        border-bottom: 3px solid v.$Grey;

        @media (min-width: 440px) { 
            border-top: none;
            justify-content: initial;
            gap: 20px;
            border-top: none;
            border-bottom: none;
        }
    }
 }