@use '../base/variables' as v;

.search {
    position: relative;
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    margin-bottom: 30px;

    @media (min-width: 400px) {
        margin-bottom: 50px;
    }

    &__input {
        width: 100%;
        font-family: v.$Font;
        outline: none;
        border: none;
        font-size: 1rem;
        font-weight: 700;
        padding: 15px 15px 15px 55px;
        border-radius: 25px;
        box-shadow: 0px 5px 15px -5px rgba(0,0,0, 0.2);
    
        @media (min-width: 400px) {
            font-size: 18px;
            padding: 20px 15px 20px 60px;
            border-radius: 35px;
        }
    }

    &__btn {
        cursor: pointer;
        outline: none;
        border: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        background-color: transparent;

        display: flex;
        align-items: center;

         
        &-img {
            width: 25px;
        }

        @media (min-width: 400px) {
            left: 25px;
        }
    }

    &-recents {
        display: none;
        z-index: 5;
        width: 100%;
        background-color: white;
        position: absolute;
        top: calc(100% + 20px);
        left: 0;
        border-radius: 10px;
        padding: 15px 20px;
        box-shadow: 0px 8px 15px -5px rgba(0,0,0, 0.2);

        &::before {
            content: '';
            width: 30px;
            height: 20px;
            position: inherit;
            top: -20px;
            background-color: white;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
        
        &__title {
            font-size: 1rem;
            color: v.$Grey;
            text-transform: uppercase;
            margin-bottom: 5px;

            @media (min-width: 400px) {
                font-size: 18px;
            }
        }

        &__option {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2px 5px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 200ms ease-in-out;
            font-size: 1rem;
            color: v.$Black;
            font-weight: 700;
            
            &:hover {
                background-color: v.$Grey-20;
            }

            @media (min-width: 400px) {
                font-size: 18px;
            }
        }

        &__close {
            color: rgb(108, 108, 108);
        }

    
    }
}