@use '../base/variables' as v;

.slider {
    &__container {
        width: 100%;
        max-width: 1000px;
        position: relative; 
    }

    &__title {
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 20px;
        color: v.$Black;

        @media (min-width: 600px) {
            font-size: 30px;
        }
    }

    &__card {
        display: block;
        height: 230px;
        border-radius: 15px;
        overflow: hidden;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            // background: linear-gradient(rgba(v.$Green,0.5), rgba(0,0,0,0));
            background-image: linear-gradient(to bottom, rgba(75, 155, 150, 0.4), rgba(59, 112, 130, 0.4), rgba(60, 70, 90, 0.4), rgba(41, 35, 43, 0.4), rgba(0, 0, 0, 0.7));
            transition: all 200ms ease-in-out;
        }

        &:hover::before {
            opacity: 0.5;
        }

        &__title {
            position: absolute;
            bottom: 0;
            padding: 10px 10px 20px;
            text-align: center;
            font-size: 1rem;
            color: v.$White;

            @media (min-width: 600px) {
                font-size: 18px;
            }
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.slider__container {
    width: 100%;
    max-width: 1000px;
    position: relative;
}

.swiper {
    width: calc(100% - 70px);
    border-radius: 15px;
}

div[class^="swiper-button"]::after {
    display: none;
}

div[class^="swiper-button"] {
    width: 30px;
    height: 30px;
    background-color: #4B9B96;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

div[class^="swiper-button"] img {
    width: 25px;
}

.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(25%);
    right: 0;
}

.swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(25%);
    left: 0;
}
