@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;900&family=Pacifico&display=swap');

$White: #F2F2F2; 
$Black: #232323;
$Grey: #707070;
$Grey-20: hsla(0, 0%, 44%, 0.1);
$Green: #4B9B96;
$Orange: #E16120;

$Font: 'Nunito', sans-serif;
$Cursive: 'Pacifico', 'cursive';
